# –ü—Ä–æ–µ–∫—Ç –ø–æ –ê–Ω–∞–ª–∏–∑—É –¥–∞–Ω–Ω—ã—Ö –¢–∏—Ö–æ–Ω–æ–≤–∞ –ò–ª—å—è –∏ –¢–∞—Ö—É–Ω–æ–≤–∞ –ê—Ä—Å–µ–Ω–∞

## About Dataset
üì± Smartphone Usage, Productivity & Lifestyle Analytics Dataset (50K Records)\
üìå Overview

This dataset contains 50,000 user records analyzing smartphone usage behavior and its relationship with productivity, sleep patterns, and stress levels. It is designed for machine learning, statistical analysis, and behavioral research.

üìä Dataset Features

The dataset includes the following variables:

User_ID ‚Äì Unique identifier

Age ‚Äì User age (18‚Äì60)

Gender ‚Äì Male, Female, Other

Occupation ‚Äì Student, Professional, Freelancer, Business Owner

Device_Type ‚Äì Android / iOS

Daily_Phone_Hours ‚Äì Average daily phone usage

Social_Media_Hours ‚Äì Daily time spent on social media

Work_Productivity_Score ‚Äì Productivity score (1‚Äì10)

Sleep_Hours ‚Äì Average sleep duration

Stress_Level ‚Äì Stress rating (1‚Äì10)

App_Usage_Count ‚Äì Number of apps used daily

Caffeine_Intake_Cups ‚Äì Daily caffeine consumption

Weekend_Screen_Time_Hours ‚Äì Screen time during weekends

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Smartphone_Usage_Productivity_Dataset_50000.csv')
df

,User_ID,Age,Gender,Occupation,Device_Type,Daily_Phone_Hours,Social_Media_Hours,Work_Productivity_Score,Sleep_Hours,Stress_Level,App_Usage_Count,Caffeine_Intake_Cups,Weekend_Screen_Time_Hours
0,U1,58,Male,Professional,Android,1.3,6.7,6,8.8,4,42,1,8.7
1,U2,25,Male,Professional,Android,1.2,1.5,5,6.4,1,51,3,5.1
2,U3,19,Male,Student,iOS,5.3,5.7,5,9.0,4,14,5,6.3
3,U4,35,Female,Business Owner,iOS,5.8,2.5,2,5.7,3,36,6,12.8
4,U5,33,Male,Freelancer,Android,7.9,1.3,4,5.7,3,37,5,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U49996,44,Male,Business Owner,Android,5.9,5.4,5,6.6,1,11,5,3.0
49996,U49997,42,Other,Business Owner,Android,2.9,7.4,9,6.3,2,20,4,6.2
49997,U49998,27,Female,Freelancer,iOS,1.4,2.5,4,6.7,9,39,4,5.1
49998,U49999,41,Female,Business Owner,iOS,8.9,3.0,6,5.5,2,51,0,9.2
49999,U50000,46,Other,Freelancer,Android,8.8,2.8,3,5.4,1,54,5,6.9